<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fmway">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".operations.commonActivities.ParseStarterClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".operations.commonActivities.Profile" />
        <activity android:name=".operations.commonActivities.Payment" />
        <activity android:name=".operations.commonActivities.HomePage" />
        <activity android:name=".operations.commonActivities.SignUpLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".operations.driver.AddTripActivity" />
        <activity android:name=".operations.admin.ListTripActivityAdmin" />
        <activity android:name=".operations.passenger.driverFeedback" />
        <activity android:name=".operations.driver.passengerFeedback" />
        <activity android:name=".operations.admin.TripDetailsAdminActivity"></activity>
        <activity android:name=".operations.admin.EditTripAdminActivity"></activity>
        <activity android:name=".operations.admin.AdminActivity"></activity>
        <activity android:name=".operations.passenger.PassengerActivity"></activity>
        <activity android:name=".operations.passenger.TripDetailsPassengerActivity" />
        <activity android:name=".operations.passenger.ListTripActivityPassenger" />
        <activity android:name=".operations.driver.DriverActivity" />
        <activity android:name=".operations.commonActivities.SignUpActivityMain" />
        <activity android:name=".operations.admin.ListUserActivityAdmin" />
        <activity android:name=".operations.admin.UserDetailsAdminActivity" />
        <activity android:name=".operations.driver.ListMyTripsDriverActivity" />
        <activity android:name=".operations.driver.EditTripDriverActivity" />
        <activity android:name=".operations.driver.TripDetailsDriverActivity" />
        <activity android:name=".operations.admin.AddAdminActivity" />
        <activity android:name=".operations.admin.AddDriverActivity" />
        <activity android:name=".operations.commonActivities.ForgotPasswordActivity" />
        <activity android:name=".operations.passenger.UploadActivity" />
        <activity android:name=".operations.commonActivities.tripChat" />
    </application>

</manifest>