<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.fmway">
    <application
        android:name="com.fmway.userOperations.ParseStarterClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.fmway.userOperations.Profile"></activity>
        <activity android:name="com.fmway.userOperations.Payment" />
        <activity android:name="com.fmway.userOperations.HomePage" />
        <activity android:name="com.fmway.userOperations.SignUpLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.fmway.tripOperations.AddTripActivity" />
        <activity android:name="com.fmway.tripOperations.ListTripActivity" />
        <activity android:name="com.fmway.tripOperations.driverFeedback" />
        <activity android:name="com.fmway.tripOperations.passengerFeedback" />
        <activity android:name="com.fmway.tripOperations.TripDetailsActivity" > </activity>
        <activity android:name="com.fmway.tripOperations.EditTripActivity"> </activity>
    </application>

</manifest>